@font-face {
  font-family: 'medium-icons';
  src: url('@{configFontBase}/medium-icons.eot');
  src: url('@{configFontBase}/medium-icons.eot?#iefix') format('embedded-opentype'),
       url('@{configFontBase}/medium-icons.woff') format('woff'),
       url('@{configFontBase}/medium-icons.ttf') format('truetype'),
       url('@{configFontBase}/medium-icons.svg#new_fontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fat {
  display: block;
  position: relative;
  background-image: url('../img/a.png');
}

.ded {
  display: block;
  position: relative;
  background-image: url('../img/b.jpeg');
}

.foo h1 + .dhg,
.mdo {
  width: 50px;
  background: url('../img/c.gif'), url('../img/a.png');
}

.fat,
.foo,
.bar {
  background-image: url('../img/a.png');
}